.wrapper{
    overflow: hidden;
    header{
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        padding: 48px 0;
        margin: 0 auto;
        nav{
            flex: 1 1 auto;
            max-width: 774px;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    list-style: none;
                    gap: 60px;
                    a{
                        transition: all .3s;
                        color: #FFFFFF;
                    }
                }
            }
            .toggle{
                display: none;
                font-size: 32px;
            }
        }
    }
    @media (max-width: 768px) {
        header{
            justify-content: right;
            nav{
                max-width: 95%;
                text-align: right;
                display: flex;
                flex: 0 0 auto;
                ul{
                    flex-direction: column;
                    width: fit-content;
                    box-shadow: -5px 0 10px #333;
                    padding: 40px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    height: 100vh;
                    margin-right: -400px;
                    transition: .3s;
                }
                .toggle{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    display: block;
                    transition: .3s;
                }
            }
        }
    }
}